{% extends "doctor/base.html" %}
{% block content %}
<div class="mx-auto max-w-screen-2xl content p-8">
    <div class="appointment-list grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="appointment-item bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-blue-600 text-xl font-semibold mb-2">Пациент: Иван Иванов</h3>
            <p class="text-gray-700 mb-1"><strong>Дата приёма:</strong> 01.07.2024</p>
            <p class="text-gray-700 mb-4"><strong>Время:</strong> 10:00</p>
            <div class="buttons flex space-x-2">
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Заполнить исследование</button>
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Просмотр медкарты</button>
            </div>
        </div>
        <div class="appointment-item bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-blue-600 text-xl font-semibold mb-2">Пациент: Петр Петров</h3>
            <p class="text-gray-700 mb-1"><strong>Дата приёма:</strong> 01.07.2024</p>
            <p class="text-gray-700 mb-4"><strong>Время:</strong> 11:00</p>
            <div class="buttons flex space-x-2">
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Заполнить исследование</button>
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Просмотр медкарты</button>
            </div>
        </div>
        <div class="appointment-item bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-blue-600 text-xl font-semibold mb-2">Пациент: Мария Смирнова</h3>
            <p class="text-gray-700 mb-1"><strong>Дата приёма:</strong> 01.07.2024</p>
            <p class="text-gray-700 mb-4"><strong>Время:</strong> 12:00</p>
            <div class="buttons flex space-x-2">
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Заполнить исследование</button>
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Просмотр медкарты</button>
            </div>
        </div>
        <div class="appointment-item bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-blue-600 text-xl font-semibold mb-2">Пациент: Анна Сидорова</h3>
            <p class="text-gray-700 mb-1"><strong>Дата приёма:</strong> 01.07.2024</p>
            <p class="text-gray-700 mb-4"><strong>Время:</strong> 13:00</p>
            <div class="buttons flex space-x-2">
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Заполнить исследование</button>
                <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Просмотр медкарты</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
