{% extends "patient/base.html" %}
{% block content %}

<div class="mx-auto max-w-screen-2xl content p-8">
    {% if medical_records %}
        {% for record in medical_records %}
        <div class="medical-record-item bg-white p-6 rounded-lg shadow-md mb-4">
            <h3 class="text-green-600 text-xl font-semibold mb-2">Описание приёма</h3>
            <p class="text-gray-700 mb-1">{{ record.description }}</p>
            <h3 class="text-green-600 text-xl font-semibold mb-2">Заключение</h3>
            <p class="text-gray-700 mb-1">{{ record.conclusion }}</p>
            <h3 class="text-green-600 text-xl font-semibold mb-2">Дата завершения</h3>
            <p class="text-gray-700 mb-1">{{ record.date_completed }}</p>
            {% if record.image %}
                <h3 class=" text-green-600 text-xl font-semibold mb-2">Изображение</h3>
                <img src="{{ record.image.url }}" alt="Medical Record Image" class=" w-1/3 h-auto mb-4"/>
            {% endif %}
            <div class="buttons flex space-x-2">
                <a href="{% url 'patient:export_medical_record_pdf' record.id %}" class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700">Экспорт как PDF</a>
                <a href="{% url 'patient:export_medical_record_doc' record.id %}" class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700">Экспорт как DOC</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Пустая медкарта.</p>
    {% endif %}
</div>

{% endblock content %}