<!DOCTYPE html>
{% extends "administrator/base.html" %}
{% block content %}
<div class="px-4 pt-4 rounded-lg max-w-7xl mx-auto px-4">
    <h1>Info</h1>
    <p>Administrator, your username: {{ user.username }}</p>
    <p>user ID: {{ user.id }}</p>
    <!--<p>{{ groups }}</p>-->
    <p>GROUP: {% for group in groups %}
        {{ group.name }} (ID: {{ group.id }})
    {% endfor %}
    </p>
</div>

<div class="content py-8">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-lg mx-auto relative">
        <h2 class="text-red-700 text-2xl font-bold mb-4">Моя информация</h2>
        <p class="text-gray-700"><strong>Ваш ID: </strong>123456789</p>
        <p class="text-gray-700"><strong>Имя: </strong>Иван Иванов</p>
        <p class="text-gray-700"><strong>Дата рождения: </strong>01.01.1980</p>
        <p class="text-gray-700"><strong>Пол: </strong> Мужской</p>
        <p class="text-gray-700"><strong>Адрес: </strong>г. Москва, Гороховских пер., д. 1</p>
        <p class="text-gray-700"><strong>Телефон: </strong>+7 (900) 123-45-67</p>
        <p class="text-gray-700"><strong>Email: </strong>ivan.ivanov@example.com</p>
        <button class="bg-red-600 text-white px-4 py-2 rounded absolute top-4 right-4 hover:bg-red-700 transition">Изменить</button>
    </div>
</div>
{% endblock content %}
