{% extends "administrator/base.html" %}
{% block content %}
<div class="content p-4">
    <h1 class="text-3xl text-red-700 mb-4">Список пользователей</h1>
    
    <div class="sort-controls mb-4 flex space-x-2">
        <div class="relative inline-block text-left" x-data="{ open: false }">
            <div>
                <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Сортировать
                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 111.414 1.414l-4 4a1 1 01-1.414 0l-4-4a1 1 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div x-show="open" @click.away="open = false" class="origin-top-left absolute left-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <a href="?sort_by=username&sort_order=asc" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">По имени</a>
                    <a href="?sort_by=role&sort_order=asc" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">По роли</a>
                </div>
            </div>
        </div>
        {% if current_sort != 'id' %}
        <a href="?clear_sort=true" class="bg-red-800 text-white px-4 py-1 m-1 rounded hover:bg-red-900 text-sm">Очистить сортировку</a>
        {% endif %}
    </div>

    <div class="user-list">
        {% for user in users %}
        <div class="user-item bg-white my-4 p-6 rounded-lg shadow flex justify-between items-center max-w-screen-lg">
            <div>
                <h3 class="text-red-700 text-xl">{{ user.username }}</h3>
                <p class="text-gray-600"><strong>Роль: </strong>{{ user.groups.first.name }}</p>
            </div>
            <div class="buttons flex space-x-2">
                <a href="{% url 'administrator:edit_user' user.id %}" class="bg-pink-600 text-white py-2 px-4 rounded hover:bg-pink-700">Изменить информацию</a>

                <a href="{% url 'administrator:delete_user' user.id %}" class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700">Удалить пользователя</a>

                <!--<form method="post" action="{% url 'administrator:delete_user' user.id %}" onsubmit="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
                    {% csrf_token %}
                    <button type="submit" class="bg-pink-600 text-white py-2 px-4 rounded hover:bg-red-700">Удалить пользователя</button>
                </form>-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Alpine.js -->
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.4.2/dist/cdn.min.js" defer></script>
{% endblock content %}