<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <title>Емаис</title>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <header class=" bg-emerald-900 text-white text-center py-8">
        <h1 class="text-4xl font-bold">Добро пожаловать в систему управления здравоохранением Емаис</h1>
        <p class="mt-2">Удобное управление медицинскими записями и исследованиями</p>
        <a href="#" class="mt-4 mx-2 inline-block bg-green-600 text-white px-6 py-2 rounded-full hover:bg-green-700 transition text-xl">Регистрация</a>
        <a href="#" class="mt-4 mx-2 inline-block bg-blue-500 text-white px-6 py-2 rounded-full hover:bg-blue-600 transition text-xl">Вход</a>
    </header>
    <div class="max-w-7xl mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img src="{% static 'core/images/buggy.gif' %}" alt="О текущих записях" class="w-full h-60 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold">О текущих записях</h2>
                    <p class="mt-2 text-gray-700">Получите полную информацию о ваших текущих медицинских записях, результатах исследований и запланированных приемах. Система Емаис обеспечивает удобный и быстрый доступ к необходимой информации, что позволяет вам оставаться в курсе всех важных событий, связанных с вашим здоровьем.</p>
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img src="{% static 'core/images/buggy.gif' %}" alt="Приятный дизайн" class="w-full h-60 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold">Приятный дизайн</h2>
                    <p class="mt-2 text-gray-700">Наша система отличается простым и интуитивно понятным интерфейсом. Мы позаботились о том, чтобы вам было легко и приятно пользоваться всеми функциями системы, от просмотра мед.карты до записи на прием. Емаис создана для вашего удобства.</p>
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img src="{% static 'core/images/buggy.gif' %}" alt="Инструкция по использованию сайта" class="w-full h-60 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold">Инструкция по использованию сайта</h2>
                    <p class="mt-2 text-gray-700">Зарегистрируйтесь в системе Емаис и получите доступ к пошаговой инструкции по использованию всех возможностей нашего сайта. Мы стремимся сделать ваше взаимодействие с системой максимально простым и понятным.</p>
                </div>
            </div>
        </div>

        {% comment %}<div class="text-center mt-8">
            <a href="#" class="inline-block bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-600 transition">Регистрация</a>
        </div>{% endcomment %}
    </div>

    <footer class="bg-gray-800 text-white text-center py-4 mt-auto">
        <p>МИИГАиК © 2024</p>
    </footer>
</body>
</html>
