<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задний двор</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/Administrator.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>

  <div class="admin-tools">
    <h1>Инструменты</h1>
    <div class="mt-3">
        <a href="/api/" class="btn btn-info">API</a>
        <a href="/admin/" class="btn btn-warning">Admin</a>
        <a href="/export/csv/" class="btn btn-secondary">Export CSV</a>
        <a href="/export/pdf/" class="btn btn-secondary">Export PDF</a>
        <br><br>
        <a href="/patient/myinfo/" class="btn btn-success">patient</a>
        <a href="/doctor/mypatients/" class="btn btn-primary">doctor</a>
        <a href="/administrator/myusers/" class="btn btn-danger">Administrator</a>
        <br><br>
        <a href="/hello/" class="btn btn-dark">hello</a>
        <a href="/index/" class="btn btn-dark">index</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>