<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <title>Емаис</title>
</head>
<body>
    <div class="my-4 p-4 rounded-lg max-w-7xl mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-4">Инструменты</h1>
        <div class="space-y-4">
            <div class="space-x-2">
                {% comment %}<a href="/api/" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">API</a>{% endcomment %}
                <a href="/admin/" class="inline-block bg-yellow-400 text-black px-4 py-2 rounded-md hover:bg-yellow-600 transition">/admin/</a>
                <a href="/" class="inline-block bg-yellow-400 text-black px-4 py-2 rounded-md hover:bg-yellow-600 transition">/</a>
                {% comment %}<a href="/export/csv/" class="inline-block bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">Export CSV</a>{% endcomment %}
                {% comment %}<a href="/export/pdf/" class="inline-block bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">Export PDF</a>{% endcomment %}
            </div>
            <div class="space-x-2">
                <a href="/patient/myinfo/" class="inline-block bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">/patient/myinfo/</a>
                <a href="/patient/register/" class="inline-block bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">/patient/register/</a>
                <a href="/patient/login/" class="inline-block bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">/patient/login/</a>
                
            </div>
            <div class="space-x-2">
                <a href="/doctor/mypatients/" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">/doctor/mypatients/</a>
            </div>
            <div class="space-x-2">
                <a href="/administrator/myusers/" class="inline-block bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition">/administrator/myusers/</a>
            </div>
            <div class="space-x-2">
                <a href="/core/" class="inline-block bg-gray-800 text-white px-4 py-2 rounded-md hover:bg-gray-900 transition">/core/</a>
                <a href="/core/index/" class="inline-block bg-gray-800 text-white px-4 py-2 rounded-md hover:bg-gray-900 transition">/core/index/</a>
                <a href="/core/additem/" class="inline-block bg-gray-800 text-white px-4 py-2 rounded-md hover:bg-gray-900 transition">/core/additem/</a>
            </div>
        </div>
    </div>
</body>
</html>